<%= render 'shared/navbar' %>

<div class="login-wrapper form-wrapper">
  <div class="login-card form-card">
    <h2>Crear Solicitud</h2>
    <%= render 'form', solicitud: @solicitud %>
  </div>
</div>
